{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "next",
    "plugin:@next/next/recommended",
    "next/core-web-vitals",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier", "@typescript-eslint", "testing-library"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "tsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "react/jsx-props-no-spreading": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/no-var-requires": "off",
    "react/no-children-prop": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "no-unused-vars": "off",
    "no-unused-expressions": "off",
    "no-useless-constructor": "off",
    "no-use-before-define": "off",
    "no-shadow": "off",
    "no-mixed-operators": ["error", { "allowSamePrecedence": false }],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true
      }
    ],
    "@typescript-eslint/no-unused-expressions": [
      "error",
      {
        "enforceForJSX": true
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "**/__tests__/**/*.[jt]s?(x)",
        "**/?(*.)+(spec|test).[jt]s?(x)"
      ],
      "extends": ["plugin:jest/recommended", "plugin:testing-library/react"],
      "rules": {
        "jest/no-commented-out-tests": "off"
      }
    }
  ]
}
